*{margin: 0; padding: 0;}  /*清空浏览器默认的样式*/
li{
	float: left;
	/*去掉li标签前面的点*/
	list-style-type: none;
	/*width: 80px;*/
	padding:20px; 
}
.div1, .div2, .div3{
	width: 200px;
	height: 100px;
	float: left; /*实现左浮动*/

}
.div1{
	background-color: red;
}
.div2{
	background-color: green;
}
.div3{
	background-color: blue;
}

p{
	width: 300px;
	height: 300px;
	background-color: #c02;
}

.clear{
	clear: both;
}